.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  text-align: center;
}
.banner h1 {
  color: #ffffff;
  font-size: 40px;
  text-shadow: 1px 1px 28px hsl(0, 0%, 100%);

}

.banner p {
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 28px hsl(0, 0%, 100%);

}
